# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env
.venv
ENV/
env.bak/
venv.bak/

# Media / Logs
recording.mp4
*.log

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/

# Playwright
test-results/
